---
pagination:
  data: posts
  size: 30
layout: 'layouts/layout.njk'
title: "liberté Programme"
url: home
---
<div class=" grid place-content-center mt-10 mx-auto px-4 mb-10  ">
       {% include 'components/_hero-home.njk' %}
<ul class="mt-8 py-2 list-roman pl-10 px-2 ">
  {%- for item in pagination.items | reverse %}
  {# already filtered on posts.js to remove the summary post #}
    {# {% if item.slug !== 'programme-dun-candidat-libertarien-sommaire' %} #}
    <li class="mt-2">
      <a href="/posts/{{ item.title.rendered | slug }} " class="ml-1 hover:underline" >
        {{ item.title.rendered | safe}}
    </a>
    </li>
    {# {% endif %} #}
  {% endfor -%}
</ul>
<div>

