@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Volume";
    src: url("/assets/fonts/Volume_TC_Regular.otf");
  }
  @font-face {
    font-family: "Volume Italic";
    src: url("/assets/fonts/Volume_TC_Italic.otf");
  }
  @font-face {
    font-family: "Volume Sans";
    src: url("/assets/fonts/Volume_TC_Sans.otf");
  }

  .h1 {
    @apply text-4xl font-semibold font-volume dark:text-white/95;
  }
}

@layer utilities {
  .debug {
    @apply border border-red-500;
  }
}
