
<footer class="w-full font-thin text-center px-6 md:px-8 py-10 mt-20">
  <figure class="grid place-content-center">
  <img src="/assets/img/element-fin.svg" alt="fin" loading="lazy" width="190">
  </figure>

  <small> {{ getCurrentYear }}&copy;  | copyleft </small>


</footer>
