<header
  class="w-full flex justify-center items-center px-6 md:px-8 py-4"
>
  <nav>
    <ul class="flex gap-10 text-gray-400 text-sm">
      <li class="">
        <a href="/" class="{{ 'text-primary dark:text-white' if url === 'home'}}">Home</a>
      </li>
      <li class="">
        <a href="/about" class="{{ 'text-primary dark:text-white' if url === 'about'}}"
          >About</a
        >
      </li>
    </ul>
  </nav>
</header>
