

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/css/styles.css" />
   <script async src="http://stats.unices.org/script.js" data-website-id="c0b23231-e60e-40bc-a3c6-bf511284bef4"></script>
    <title>{{ posts.title.rendered | safe }}</title>
  </head>
  <body class="min-h-screen flex flex-col bg-body dark:bg-black/80 font-volume text-primary dark:text-primary-dark " >
  {# {% include 'components/_header.njk' %} #}
  <div class="max-w-2xl mx-auto">
      {{ content | safe }}
  </div>


  </body>
</html>